#well-section {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#well-section td, #well-section th {
  border: 1px solid #ddd;
  padding: 8px;
}

#well-section tr:nth-child(even){background-color: #f2f2f2;}

#well-section tr:hover {background-color: #ddd;}

#well-section th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.card-header{
	display: inline-block;
	padding: 5px;
	background: red;
}